{% macro value_for(name) %}
    {%- if name in values -%}
        {{- values | get(key=name) | first -}}
    {%- endif -%}
{% endmacro %}

{% macro errors_for(name) %}
    {%- if name in errors -%}
        {% set field_errors = errors | get(key=name) %}
        {% for error in field_errors %}
            <span class="text-error is-marginless">{{ error.msg }}</span>
        {% endfor %}
    {%- endif -%}
{% endmacro %}
